.container {
    background: rgba(68, 75, 88, 0.7);
    position: fixed;
    width: 100vw;
    height: 85vh;
    top: 0;
    left: 0;
    z-index: 1;

}

.modal {
    width: 480px;
    height: 414px;
    background: white;
    position: absolute;
    left: 57%;
    top: 14%;
    
}